.link a{
    color: #fff;
    text-decoration: underline;
}
.link a:hover{
    text-decoration: none;
}
.link a{
    color: #5cb85c;
    text-decoration: none;
}	
.link a:hover{
    text-decoration: underline;
} 