<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net46" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net46" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net46" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net46" />
  <package id="Common.Logging.NLog444" version="3.4.1" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="FluentValidation" version="7.5.2" targetFramework="net46" />
  <package id="MailKit" version="2.0.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net46" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net46" />
  <package id="MimeKit" version="2.0.3" targetFramework="net46" />
  <package id="Moq" version="4.8.2" targetFramework="net46" />
  <package id="Ninject" version="3.3.4" targetFramework="net46" />
  <package id="NLog" version="4.5.3" targetFramework="net46" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net46" />
  <package id="StyleCop.MSBuild" version="5.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net46" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net46" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
</packages>