<!--Series-->
<div class="row">
  <div class="col-sm-6 col-xl-4 mb-4" *ngFor="let series of seriesPage?.PageItems">
    <div class="card box-shadow h-100">
      <div class="position-relative">
        <img class="card-img-top" src="{{series.PosterImageUrl}}">
        <div class="position-absolute poster-info w-100 px-3">
          <div class="float-left">{{series.CurrentStatus}}</div>
          <div class="float-right">Год выхода: {{series.TvSerialYearStart}}</div>
        </div>
      </div>
      <div class="card-body">
        <h4 class="mb-0">{{series.TitleRu}}</h4>
        <span class="text-muted">{{series.TitleEn}}</span>
        <div>Канал: {{series.TvSerialCanal}}</div>
        <div>Жанр: <span *ngFor="let genre of series.Genres, let last=last">{{genre.Name}}{{last ? '' : ', '}}</span></div>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <button type="button" class="btn btn-outline-secondary" [routerLink]="['/series', series.Id]">Сериал</button>
          <div class="btn-group">
            <ng-container *ngIf="series.IsUserSubscribed; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
              <a class="btn btn-link p-0" (click)="unsubscribeFromRelease(series.Id)">
                <i class="material-icons md-36 md-dark">notifications_active</i>
              </a>
            </ng-template>
            <ng-template #elseTemplate>
              <a class="btn btn-link p-0" (click)="subscribeOnRelease(series.Id)">
                <i class="material-icons md-36 md-dark">notifications_none</i>
              </a>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--Series end-->
  <hr>
  <app-paging [pageCount]="seriesPage?.TotalPagesCount"></app-paging>
