<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="AppName" value="Rocket" />
  <variable name="layout" value="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace})${onexception:${newline}${exception:format=ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat:ToString,StackTrace}}${newline}" />

  <targets>

    <target name="fileTarget"
        xsi:type="File" keepFileOpen="false" createDirs="true"
        fileName="${basedir}/App_Data/Logs/${shortdate}.log"
        layout="${layout}" />

    <target name="mailTarget" xsi:type="AsyncWrapper">
      <target
        xsi:type="Mail"
        smtpServer="smtp.gmail.com"
        smtpPort="587"
        enableSsl="true"
        smtpAuthentication="Basic"
        smtpUserName="rocket.team.mail.service@gmail.com"
        smtpPassword="4hqymel_ZP898qwe"
        from="rocket.team.mail.service@gmail.com"
        to="web.rocket.adm@gmail.com"
        subject="${machinename} - ${AppName} - ${level} - ${message}"
        layout="${layout}" />
    </target>

  </targets>

  <rules>

    <logger writeTo="fileTarget">
      <filters>
        <when condition="equals(logger, 'Microsoft.AspNetCore.Hosting.Internal.WebHost')" action="Log" />
        <when condition="true" action="Ignore" />
      </filters>
    </logger>

    <logger writeTo="fileTarget" levels="Trace,Debug,Info" final="true" />

    <logger writeTo="fileTarget" levels="Warn,Error,Fatal" final="false" />
    <logger writeTo="mailTarget" levels="Warn,Error,Fatal" final="true" />

    <logger writeTo="fileTarget"></logger>

  </rules>

</nlog>