<h1>
  Тут Вы можете отблагодарить разработчиков
  <br />проекта Rocket посредством платежной системы PayPal
  <p>
    <div class="col-sm-12 controls">
      <a id="btn-donate1" href="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_donations&business=mrappend-facilitator@gmail.com&item_name=Thank you for your payment!&amount=1.00"
         class="btn btn-success">Donate 1$</a>
    </div>
    <div class="col-sm-12 controls">
      <a id="btn-donate2" href="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_donations&business=mrappend-facilitator@gmail.com&item_name=Thank you for your payment!&amount=2.00"
         class="btn btn-success">Donate 2$</a>
    </div>
    <div class="col-sm-12 controls">
      <a id="btn-donate3" href="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_donations&business=mrappend-facilitator@gmail.com&item_name=Thank you for your payment!&amount=3.00"
         class="btn btn-success">Donate 3$</a>
    </div>
    <div class="col-sm-12 controls">
      <a id="btn-donate3" href="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_xclick&business=mrappend-facilitator@gmail.com&item_name=Thank you for your payment!&amount=3.00&custom=123"
         class="btn btn-success">Pay 3$</a>
    </div>
</h1>
