<!--Episodes-->
<div class="row">
  <div class="col-sm-6 col-xl-4 mb-4" *ngFor="let episode of episodesPage?.PageItems">
    <div class="card box-shadow h-100">
      <div class="position-relative">
        <img class="card-img-top" src="{{episode.PosterImageUrl}}">
        <div class="position-absolute poster-info w-100 px-3">
          <div class="float-left">{{episode.SeasonNumber}} сезон {{episode.Number}} серия</div>
          <div class="float-right">{{episode.ReleaseDateRu | date:'dd.MM.yyyy'}}</div>
        </div>
      </div>
      <div class="card-body">
        <h4 class="mb-0">{{episode.TvSeriesTitleRu}}</h4>
        <span class="text-muted">{{episode.TvSeriesTitleEn}}</span>
        <h5 class="mb-0 mt-2">{{episode.TitleRu}}</h5>
        <span class="text-muted">{{episode.TitleEn}}</span>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <button type="button" class="btn btn-outline-secondary" [routerLink]="['/series', episode.TvSeriesId]">Сериал</button>
          <div class="btn-group">
            <a class="btn btn-link p-0" target="_blank" href="{{episode.UrlForEpisodeSource}}">
              <i class="material-icons md-36 md-dark">remove_red_eye</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Episodes end-->
<hr>
<app-paging [pageCount]="episodesPage?.TotalPagesCount"></app-paging>
