<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="lostfilm">
      <section name="runSettings" type="System.Configuration.NameValueSectionHandler" />
      <section name="urls" type="System.Configuration.NameValueSectionHandler" />
      <section name="takeSettings" type="System.Configuration.NameValueSectionHandler" />
      <section name="tvSerailListHeaderSelectors" type="System.Configuration.NameValueSectionHandler" />
      <section name="tvSerailSelectors" type="System.Configuration.NameValueSectionHandler" />
      <section name="episode" type="System.Configuration.NameValueSectionHandler" />
      <section name="cast" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="albumInfo">
      <section name="runSettings" type="System.Configuration.NameValueSectionHandler" />
      <section name="urls" type="System.Configuration.NameValueSectionHandler" />
      <section name="resourceSettings" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=MyLocalDb;Initial Catalog=Rocket.Develop;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>

  </appSettings>

  <lostfilm>
    <runSettings>
      <add key="ParseIsSwitchOn" value="true" />
      <add key="ParsePeriodInMinutes" value="15" />
    </runSettings>

    <urls>
      <add key="ParseBaseUrl" value="http://www.lostfilm.tv" />
      <add key="AdditionalUrlToSerialListBatch" value="?act=serial&amp;type=search&amp;o={0}&amp;s=3&amp;t=0" />
      <add key="AdditionalUrlToSerialList" value="/series" />
      <add key="AdditionalUrlToTvSerialEpisodes" value="/seasons" />
      <add key="AdditionalUrlToTvSerialPhotes" value="/photos" />
      <add key="AdditionalUrlToTvSerialCasts" value="/cast" />
    </urls>

    <takeSettings>
      <add key="MaxRequestCount" value="10" />
      <add key="TakeTvSerialByRequest" value="10" />
      <add key="MessageNotFoundByRequest" value="По Вашим критериям ничего не найдено" />
    </takeSettings>

    <tvSerailListHeaderSelectors>
      <add key="KeywordStatus" value="Статус:" />
      <add key="KeywordYearStart" value="Год выхода:" />
      <add key="KeywordCanal" value="Канал:" />
      <add key="KeywordGenre" value="Жанр:" />

      <add key="Base" value="#serials_list" />
      <add key="TvSerial" value="#serials_list &gt; div:nth-child({0})" />
      <add key="TvSerialDetail" value="#serials_list &gt; div:nth-child({0}) &gt; a" />
      <add key="TvSerialLostfilmRate" value="#serials_list &gt; div:nth-child({0}) &gt; div.mark-green-box" />
      <add key="TvSerialDetailImageUrlThumb" value="#serials_list &gt; div:nth-child({0}) &gt; a &gt; div.picture-box &gt; img.thumb" />
      <add key="TvSerialDetailTvSerialNameRu" value="#serials_list &gt; div:nth-child({0}) &gt; a &gt; div.body &gt; div.name-ru" />
      <add key="TvSerialDetailTvSerialNameEn" value="#serials_list &gt; div:nth-child({0}) &gt; a &gt; div.body &gt; div.name-en" />
      <add key="TvSerialDetailPane" value="#serials_list &gt; div:nth-child({0}) &gt; a &gt; div.body &gt; div.details-pane" />

    </tvSerailListHeaderSelectors>

    <tvSerailSelectors>
      <add key="TvSerialOverview" value="#left-pane &gt; div:nth-child(5) &gt; div.details-pane" />
      <add key="TvSerialKeywordRateImDb" value="Рейтинг IMDb:" />
      <add key="TvSerialPremiereDateForParse" value="#left-pane &gt; div:nth-child(5) &gt; div.details-pane &gt; div.left-box &gt; a:nth-child(1)" />
      <add key="TvSerialUrlToOfficialSite" value="#left-pane &gt; div:nth-child(5) &gt; div.details-pane &gt; div.right-box &gt; a:nth-child(8)" />
      <add key="TvSerialSummary" value="#left-pane &gt; div.text-block.description" />
    </tvSerailSelectors>


    <episode>
      <add key="AllEpisodes" value="#left-pane &gt; div.series-block" />
      <add key="SeasonPosters" value="movie-cover-box" />
      <add key="ClassNameBeta" value="beta" />
      <add key="ClassNameGamma" value="gamma" />
      <add key="ClassNameDelta" value="delta" />
      <add key="SeasonKeyword" value=" сезон" />
      <add key="EpisodeKeyword" value=" серия" />
      <add key="GrayColor2SmallTextClass" value="gray-color2 small-text" />
      <add key="SmallTextClass" value="small-text" />
      <add key="RuKeyword" value="Ru: " />
      <add key="EngKeyword" value="Eng: " />
      <add key="DateFormat" value="dd/MM/yyyy" />
    </episode>

    <cast>
      <add key="ClassHeaderSimple" value="header-simple" />
      <add key="ClassRow" value="row" />
      <add key="ClassAloadThumb" value="aload thumb" />
      <add key="ClassNameRu" value="name-ru" />
      <add key="ClassNameEn" value="name-en" />
      <add key="SelectorCastElement" value="#left-pane &gt; div.content &gt; div.center-block.margin-left &gt; div &gt; div &gt; div:nth-child({0})" />
      <add key="SelectorHrefCastElement" value="#left-pane &gt; div.content &gt; div.center-block.margin-left &gt; div &gt; div &gt; a:nth-child({0})" />
      <add key="KeywordActors" value="Актеры" />
      <add key="KeywordDirectors" value="Режиссеры" />
      <add key="KeywordProducers" value="Продюсеры" />
      <add key="KeywordWriters" value="Сценаристы" />
    </cast>
    
  </lostfilm>

  <albumInfo>
    <resourceSettings>
      <add key="AlbumInfoResource" value="Album Info" />
    </resourceSettings>
  </albumInfo>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="MyLocalDb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="6.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>