<div class="container-fluid" *ngIf="musicDetails">
  <div class="row">
    <div class="col-12 col-lg-4 col-md-3">
      <div class="position-relative">
        <img src="{{musicDetails.PosterImageUrl}}" class="w-100 d-md-block"  alt="">
      </div>
    </div>
    <div class="col">
      <div class="row align-items-center">
        <div class="col-auto">
          <h1>{{musicDetails.Title}}</h1>
        </div>
        <div class="col">
          <div class="btn-group">
            <button type="button" class="btn btn-link p-0 mr-3 mr-sm-2" href="#">
              <i class="material-icons md-36 md-dark">star_border</i>
            </button>
            <a class="btn btn-link p-0">
              <i class="material-icons md-36 md-dark">notifications_none</i>
            </a>
          </div>
        </div>
      </div>
      <span class="text">Альбом: {{musicDetails.Title}}</span>
      <br>
      <div class="row">
          <div class="col">
            Исполнитель:
          <span *ngFor="let musicians of musicDetails.Musicians, let last=last">{{musicians.FullName}}{{last ? '' : ', '}}</span>
          </div>
      </div>
      <div class="row">
        <div class="col">
          Жанр:
          <span *ngFor="let genres of musicDetails.Genres, let last=last">{{genres.Name}}{{last ? '' : ', '}}</span>
        </div>
    </div>
      <br>
      <span class="text">Треки</span>      
      <div class="row my-2">
          <div class="col">
            <ng-container *ngFor="let musictracks of musicDetails.MusicTracks, let lasts = last">
                <div class="row align-items-center my-2">
                    <div class="col" style="line-height: 100%;">
                      {{musictracks.Title}}
                    </div>
                  </div>
                  <hr *ngIf="!laste || !lasts">
            </ng-container>
          </div>
      </div>
    </div>
  </div>
</div>

