<div class="container-fluid text-center">
  <div class="col-md-8 m-auto">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1>{{nameCalendar}}</h1>
    </div>
  </div>
  <div class="row content">
    <div class="col-md-2 pr-md-0 sidenav text-left">
      <ul class="nav flex-md-column">
        <li class="nav-item">
          <a class="nav-link active pr-md-0"  (click)="filmsEvents()" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="feather feather-video">
              <polygon points="23 7 16 12 23 17 23 7" />
              <rect x="1" y="5" width="15" height="14" rx="2" ry="2" />
            </svg>
            Фильмы
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-md-0" routerLink="/calendar" (click)="seriesEvents()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="feather feather-tv">
              <rect x="2" y="7" width="20" height="15" rx="2" ry="2" />
              <polyline points="17 2 12 7 7 2" />
            </svg>
            Сериалы
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-md-0" routerLink="/calendar" (click)="musicEvents()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="feather feather-music">
              <path d="M9 17H5a2 2 0 0 0-2 2 2 2 0 0 0 2 2h2a2 2 0 0 0 2-2zm12-2h-4a2 2 0 0 0-2 2 2 2 0 0 0 2 2h2a2 2 0 0 0 2-2z" />
              <polyline points="9 17 9 5 21 3 21 15" />
            </svg>
            Музыка
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-8 text-left">
      
        <mwl-demo-utils-calendar-header
        [(view)]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="releaseEvents()"
        [locale]="locale"
        (viewChange)="releaseEvents()">
      </mwl-demo-utils-calendar-header>

        <ng-template #loading>
            <div class="text-center">
              <i class="fa fa-spin fa-spinner fa-5x"></i>
              <br>
              Loading events...
            </div>
          </ng-template>
          
          <div *ngIf="events$ | async; else loading; let events">
            <div [ngSwitch]="view">
              <mwl-calendar-month-view
                *ngSwitchCase="'month'"
                [viewDate]="viewDate"
                [events]="events"
                [locale]="locale"
                [weekStartsOn]="weekStartsOn"
                [weekendDays]="weekendDays"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="eventClicked($event.event)">
              </mwl-calendar-month-view>
              <mwl-calendar-week-view
                *ngSwitchCase="'week'"
                [viewDate]="viewDate"
                [locale]="locale"
                [weekStartsOn]="weekStartsOn"
                [weekendDays]="weekendDays"
                [events]="events"
                (eventClicked)="eventClicked($event.event)">
              </mwl-calendar-week-view>
              <mwl-calendar-day-view
                *ngSwitchCase="'day'"
                [locale]="locale"
                [viewDate]="viewDate"
                [events]="events"
                (eventClicked)="eventClicked($event.event)">
              </mwl-calendar-day-view>
            </div>
          </div>

 
    </div>
    <div class="col-md-2 sidenav">
      <div class="well">
        <p>Наша прекрасная реклама</p>
      </div>
      <div class="well">
        <p>Наша прекрасная реклама</p>
      </div>
      <div class="well">
        <p>Наша прекрасная реклама</p>
      </div>
    </div>
  </div>
</div>
