<ul class="nav flex-md-column">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link pr-md-0" [routerLink]="['series']">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="feather feather-tv">
        <rect x="2" y="7" width="20" height="15" rx="2" ry="2" />
        <polyline points="17 2 12 7 7 2" />
      </svg>
      Сериалы
    </a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link pr-md-0" [routerLink]="['music']">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="feather feather-music">
        <path d="M9 17H5a2 2 0 0 0-2 2 2 2 0 0 0 2 2h2a2 2 0 0 0 2-2zm12-2h-4a2 2 0 0 0-2 2 2 2 0 0 0 2 2h2a2 2 0 0 0 2-2z" />
        <polyline points="9 17 9 5 21 3 21 15" />
      </svg>
      Музыка
    </a>
  </li>
</ul>
